In [ ]:
#question 1 

def y(list):
  result=1
  for x in list:
    result=result*x
  return result
list=[2,3,6]
print(y(list))

36

In [ ]:
#question 2

list=[(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
def sort_list(list):
  list.sort(key=lambda  x:x[1] ,reverse=True)
  return list
print(sort_list(list))

[(2, 5), (4, 4), (2, 3), (1, 2), (2, 1)]

In [ ]:
#question 3

d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
for x  in d1:
  if x in d2:
    d2[x]=d1[x]+d2[x]
  else:
    d2[x]=d1[x]
print(d2)

{'a': 400, 'b': 400, 'd': 400, 'c': 300}

In [ ]:
#question 4

n=int(input("enter a number:"))
dict={}
for i in range(1,n+1):
  dict[i]=i*i
print(dict)

enter a number:8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [ ]:
#question 5

price = [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
print( sorted(price, key=lambda x: float(x[1]), reverse=True))

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]